@using Jewbox.Services
@page "/"
@inject ISender Sender
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h2>@key</h2>

@code {
    public string key = "empty";
    private void Send1()
    {
        //key = Sender.GetSecretAsync(CancellationToken.None).Result;
    }
    
    private void Send2()
    {
        //Sender.GetSecretAsync(CancellationToken.None);
    }
    
    private void IncrementCount()
    {
    }
}